@import "_variables"
@import "bootstrap"

body,
html
  font:
    family: "Helvetica Neue", Arial, Helvetica, sans-serif
    size: 16px
  background: $body_bg
  color: $color_text
  height: 100%

#wrapper
  min-height: 100%
  margin:
    bottom: -$footer_height
  &:after
    content: ""
    display: block
    height: $footer_height

#content
  .content_block
    padding:
      left: $wrapper_padding
      right: $wrapper_padding
    &.offset
      margin:
        bottom: 20px
    &.white_bg
      background: $color_white

#header
  height: 80px

#top_menu
  padding:
    left: $wrapper_padding
    right: $wrapper_padding
  border: none
  border-radius: 0
  a
    color: #fff
    padding: 0
  .navbar-brand
    margin-top: 8px
    img
      height: 30px
  #user_menu
    a
      margin-top: 15px
      padding:
        right: 5px
    .user_dropdown
      border-radius: $default_border_radius
      margin:
        top: 10px
      li
        a
          margin: 0
          color: $color_text
          padding: 5px 20px

#footer
  height: $footer_height
  background: $body_bg
  .footer_inner
    padding: 20px $wrapper_padding
    .copy
      margin-top: 20px
      text-align: right
      font-size: .75em
      color: $color_text_light

.btn
  &.btn-primary
    &:hover
      background: $primary_button_bg_hover

.center
  text-align: center

h1,
h2,
h3,
h4,
h5,
h6
  margin:
    top: 0
