@import "_variables"

.page_home
  .login_form_block
    width: 400px
    margin: 40px auto
    padding: 40px
    background: $color_white
    border-radius: $default_border_radius
    box-shadow: 0 10px 20px rgba(0,0,0,.1)
    .welcome
      font-size: 1.6em
      margin:
        bottom: 40px
      .application_name
        font-weight: bold
    .login_button
      margin:
        top: 40px
      font-size: 1.3em

.page_main
  .organizations
    .organization
      margin: 20px 0
      padding: 20px
      border: 1px solid $color_light_gray
      border-radius: $default_border_radius
      .members
        margin:
          top: 20px
        .member
          margin:
            bottom: 20px
          .follow_status
            width: 20px
            height: $main_page_avatar_size
            margin:
              right: 10px
            line-height: $main_page_avatar_size
            input
              cursor: pointer
              display: none
          .avatar
            margin:
              right: 10px
            img
              width: $main_page_avatar_size
              height: $main_page_avatar_size
          .name
            padding:
              top: 15px
              left: 90px
