.footer_inner
  .copy
    &copy;
    = succeed "," do
      %b= t "common.application_name"
    2014

    %br
      = t "common.developed_by"
      = link_to "YetiCoders", "http://yeticoders.com/?ref=works", target: "_blank"
