.activities
  - @actions.map(&:attributes).each do |a|
    .activity
      .text
        = raw action_describe(a)
      .date
        = a[:date].localtime.strftime "%b %d at %H:%M"
        - if a[:data]["board"]
          = t(".on_board", board: a[:data]["board"]["name"])
        -if a[:data]["organization"]
          = t(".on_organization", organization: a[:data]["organization"]["name"])
