.cards.clearfix
  - 30.times do |i|
    .card{ "data-trello-url" => "https://trello.com/c/ejHRWArb/5-layout-wireframe"}
      .card_inner
        .name Very-very long card name
        .board_and_column
          Board name
          \/
          Column name
        .info.clearfix
          .pull-left.details
            .detail.follow
              .fa.fa-eye
            .detail.description
              .fa.fa-pencil
            .detail.comment
              .fa.fa-comment
              3
            .detail.checklist.done
              .fa.fa-list
              5/5
          .pull-right.assigned_members
            = user_avatar(current_user, :small)
            = user_avatar(current_user, :small)
        .date
          Changed
          = Time.now.strftime "%b %d at %H:%M"
